<%= simple_form_for(@option) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :card %>
    <%= f.association :reader %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
