<div class="row">
  <div class="col-xs-6">
  <%= bootstrap_form_for(@permission) do |f| %>

 <%= f.select :worker_id, @workers %>
 <%= f.select :reader_id, @readers %>
    <%= f.form_group do %>
        <div class="btn-group">
        <%= link_to 'â† Back', permissions_path, class:"btn btn-default" %>
        <%= f.submit %>
        </div>
        <% end %>


<% end %>
</div>
</div>