<div class="row">
  <div class="col-xs-6">
<%= bootstrap_form_for(@worker) do |f| %>

    <%= f.text_field :username, label:"Employee name", placeholder: "Enter the name" %>
    <%= f.text_field :card, label:"Card serial", placeholder: "Enter S/N" %>


    <%= f.form_group do %>
        <div class="btn-group">
        <%= link_to 'â† Back', workers_path, class: "btn btn-default" %>
        <%= f.submit "Add employee" %>
        </div>
    <% end %>


<% end %>
</div></div>